[submodule "extern/DKUtil"]
	path = extern/DKUtil
	url = https://github.com/gottyduke/DKUtil.git
[submodule "extern/CommonLibSF"]
	path = extern/CommonLibSF
	url = https://github.com/Starfield-Reverse-Engineering/CommonLibSF.git
[submodule "extern/toml11"]
	path = extern/toml11
	url = https://github.com/ToruNiina/toml11.git
